html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}

.header {
 padding: 5px 15px 15px 100px;
 background-color: #F2F2F2;
}

.header h1 {
   display: inline-block;
   font-size: 80px;
   padding-left: 15px;
}
.header p {
   font-size: 13px;
   padding-left: 20px;
}

.header button {
   margin-left: 20px;
}

.border {
 background-color: #279752;
 padding: 30px;
}

#money {
	height: 30px;
	width: 180px;
	margin-left: 150px;
	border-radius: 10px;
	font-size: 16px;
	background-color: #F2F2F2;
	padding: 5px 0px 5px 15px;
}

.board {
	height:400px;
	background-color: #F2F2F2;
}

#player {
	float: left;
	background-color: #B2F5CC;
	border-radius: 20px;
	height: 150px;
	width: 450px;
	margin: 100px 50px 0 70px;
}

#dealer {
	float: right;
	background-color: #B2F5CC;
	border-radius: 20px;
	height: 150px;
	width: 450px;
	margin: 100px 70px 0 50px;
}